# ATTENZIONE: questo script va messo in /etc/udev/rules.d/  e serve per lanciare lo script che monta/smonta la USB

# Custom udev rules. Note that udev rules are run in order based
# on the filename. Rules in filenames that start with numbers
# are run before this one.
# This rule detects USB drives that are added to the system so
# that they can be mounted automagically by the script.
# It is based off of the replies to a question on superuser.com.
# http://superuser.com/questions/53978/ubuntu-automatically-mount-external-drives-to-media-label-on-boot-without-a-u
ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", OWNER="pi",ACTION=="add", RUN+="/home/pi/TombolaFromSerial/job/copiafiledaUSB.sh mount %k"
ENV{ID_FS_USAGE}=="filesystem", SUBSYSTEMS=="usb", OWNER="pi",ACTION=="remove", RUN+="/home/pi/TombolaFromSerial/job/copiafiledaUSB.sh cleanup %k"